@using KickStats.Components.Account
@using KickStats.Data
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager;
@inject IHttpContextAccessor HttpContextAccessor


<a class="navbar-brand" href=""></a>
<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    
    <nav class="text-center">
        <AuthorizeView>
            <Authorized>
        <div class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
               
                <div class="nav-link-content">
                    <i class="fa-regular fa-futbol"></i> 
                    <div>Matches</div>
                </div>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="table">
                <div class="nav-link-content">
                    <i class="fa-solid fa-list"></i>
                    <div>PlayersTable</div>
                </div>
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="bets">
                <div class="nav-link-content">
                    <i class="fa-solid fa-sack-dollar"></i> 
                    <div>Bets</div>
                </div>
                
            </NavLink>
        </div>

            <div class="nav-item ">
                <NavLink class="nav-link" href="settings">
                    <div class="nav-link-content">
                        <i class="fa-solid fa-gear"></i>
                        <div>Settings</div>
                    </div>
                </NavLink>
            </div>
        <div class="authorization-block">
                <div class="nav-item ">
                    <NavLink class="nav-link" href="Account/Manage">
                        <div class="nav-link-content">
                            @{
                          var user =  UserAccessor.GetRequiredUserAsync(HttpContextAccessor.HttpContext).Result;
                          <span class="userDisplay" aria-hidden="true">@user.UserName</span>
                        }
                        </div>
                    </NavLink>
                </div>
        <div class="nav-item">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="" />
                <button type="submit" class="nav-link logout-button">
                    <div class="logout-button-content">
                        Log out
                    </div>
                </button>
            </form>
        </div>
        </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Account/Register">
                        <div class="nav-link-content">
                            <span class="" aria-hidden="true"></span> Register
                        </div>
                    </NavLink>
                </div>
                
                <div class="nav-item">
                <NavLink class="nav-link" href="Account/Login">
                    <div class="nav-link-content">
                        <span class="" aria-hidden="true"></span> Login
                    </div>
                </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
       
    </nav>
</div>
